html {
    &.dark {
        color-scheme: dark;
    }
}

body {
    width: 100%;
	height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

label.dark-button {
    position: fixed;
    display: inline-block;
    top: 1vh;
    right: 1vh;
    width: 3vw;
    height: 1.5vw;
    border: 3px solid gray;
    border-radius: 1.5vw;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    span.slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 1.5vw;
    }
    span.slider:before {
        position: absolute;
        content: "";
        height: calc(1.5vw - 8px);
        width: calc(1.5vw - 8px);
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
    input:checked + .slider {
        background-color: rgb(82, 82, 82);
        &:before {
            -webkit-transform: translateX(1.5vw);
            -ms-transform: translateX(1.5vw);
            transform: translateX(1.5vw);
        }
    }
    input:focus + .slider {
        box-shadow: 0 0 1px rgb(82, 82, 82);
    }
}

div.card {
    display: flex;
    position: relative;
    width: 7.5rem;
    > div.card {
        position: absolute;
    }
    img {
        object-fit: cover;
        width: 100%;
    }
    &.selected {
        outline: 2px blue solid;
        border-radius: 0.3rem;
    }
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    div.board {
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 90vw;
        border: solid gray 3px;
        border-radius: 0.5rem;

        div.upper-board {
            display: flex;
            flex-direction: row;
            width: calc(100% - 2rem);
            padding: 1rem 1rem 1rem 1rem;
            background-color: rgb(0, 124, 0);
            div.closed-deck {
                display: flex;
                width: 20%;
                div.closed-card-container {
                    background-color: rgb(0, 77, 0);
                    width: 7.5rem;
                    box-shadow: inset 0 0 0 1px black;
                    border-radius: 0.3rem;
                }
            }
            div.opened-cards {
                display: flex;
                width: 30%;
                div.opened-card-container {
                    background-color: rgb(0, 77, 0);
                    width: calc(7.5rem + calc(7.5rem * 0.8));
                    box-shadow: inset 0 0 0 1px black;
                    border-radius: 0.3rem;
                    div.card > div.card {
                        left: 40%;
                    }
                }
            }
            div.foundations {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 50%;
            }
            div.foundations, div.closed-deck, div.opened-cards {
                div.card > div.card {
                    top: 0;
                }
            }
        }

        div.lower-board {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
            padding: 1rem 1rem 1rem 1rem;
            background-color: rgb(0, 77, 0);
            border-top: solid gray 3px;
            > div.card-row {
                div.card {
                    &.empty > div.card {
                        top: 0;
                    }
                    > div.card {
                        top: 12.5%;
                    }
                }
            }
        }
    }
}